-c constraints.txt
lxml
click
bumpversion
flake8
tox
pytest
pytest-cov
pytest-mock
pytest-helpers-namespace
ipython
pytest-rpc
-e git+https://github.com/ryan-rs/qtest-swagger-client.git@master#egg=swagger-client-1.0.0
