lxml
click
bumpversion
flake8
tox
coverage
pytest
pytest-runner
pytest-mock
ipython
-e git+https://github.com/ryan-rs/qtest-swagger-client.git@master#egg=swagger-client-1.0.0
-e git+https://github.com/rcbops/pytest-rpc.git@master#egg=pytest-rpc-0.4.0
